databus_url = "https://modex.rl-institut.de/databus/"
create_table_url = "https://modex.rl-institut.de/create_table/"
upload_csv_url = "https://modex.rl-institut.de/upload/"

TOKEN = "OEP Token"
OEP_USER = "OEP User Name"
api_key = "Databus API Key"
account = "Data bus account name"
group = "Data Bus group"
version = "Version to Register on Databus"
